<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Home - Happy Hoe Groceries Ltd.</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../public/img/favicon.png" rel="icon">
  <link href="../public/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- CSS Files -->
  <link href="../public/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../public/css/public-views.css" rel="stylesheet">

</head>

<body>
  <main class="home">
    <div class="container">

      <div class="row welcome d-flex align-items-center justify-content-between gy-4">
        <div class="col-lg-9 mb-4 mb-lg-0">
          <h2>Happy Hoe Grocery Ltd.</h2>
          <p>The best wholesale produce distributor dealing in cereals like; beans, grain maize, cowpeas, g-nuts, rice and soybeans.</p>
        </div>
        <div class="col-lg-3 text-lg-end mt-2 mt-lg-0">
          <a class="button" href="login.html">Go To Dashboard</a>
        </div>
      </div>

      <div class="row content gy-4">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="stat-box" data-aos="zoom-out" data-aos-delay="300">
            <span>400 tones</span>
            <h4>Beans</h4>            
            <p>20 tones | Sold this week</p>
          </div>
        </div><!-- End stat Box -->

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="stat-box" data-aos="zoom-out" data-aos-delay="400">
            <span>560 tones</span>
            <h4>Grain Maize</h4>            
            <p>10 tones | Sold this week</p>
          </div>
        </div><!-- End stat Box -->

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="stat-box" data-aos="zoom-out" data-aos-delay="500">
            <span>160 tones</span>
            <h4>Cowpeas</h4>            
            <p>5 tones | Sold this week</p>
          </div>
        </div><!-- End stat Box -->

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="stat-box" data-aos="zoom-out" data-aos-delay="400">
            <span>200 tones</span>
            <h4>G-nuts</h4>            
            <p>28 tones | Sold this week</p>
          </div>
        </div><!-- End stat Box -->

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="stat-box" data-aos="zoom-out" data-aos-delay="400">
           <span>700 tones</span>
            <h4>Rice</h4>            
            <p>100 tones | Sold this week</p>
          </div>
        </div><!-- End stat Box -->

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="stat-box" data-aos="zoom-out" data-aos-delay="400">
            <span>350 tones</span>
            <h4>Soybeans</h4>            
            <p>8 tones | Sold this week</p>
          </div>
        </div><!-- End stat Box -->
      </div>

    </div>


  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer class="footer">
    &copy; 2024 <strong><span>Happy Hoe Groceries Limited</span></strong>. All Rights Reserved
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- JS Files -->
  <script src="../public/js/main.js"></script>

</body>

</html>