<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Login - Happy Hoe Groceries Ltd.</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../public/img/favicon.png" rel="icon">
  <link href="../public/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- CSS Files -->
   <link rel="stylesheet" href="../public/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="../public/css/public-views.css">

</head>

<body>
  <main class="login">

    <div class="form-card">
      <a href="index.html">
        <img src="../public/img/logo.png" alt="logo">
      </a>

      <p class="text-center">Login to your account to access more features.</p>

      <form class="mt-2">
        <input type="email" name="email" id="email" placeholder="Email" required>
        <input type="password" name="password" id="password" placeholder="Password" required>

        <div class="d-flex justify-content-between align-items-center button-container">
          <a href="#"><span>Forgot password?</span></a>
          <button class="button" type="submit">Login</button>
        </div>

      </form>

    </div>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer class="footer login-footer">
    &copy; 2024 <strong><span>Happy Hoe Groceries Limited</span></strong>. All Rights Reserved
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- JS Files -->
  <script src="../public/js/main.js"></script>

</body>

</html>