/* Profie Page */
.profile-page .card img {
    max-width: 200px;
    border-radius: 50%;
}

.profile-page .card input, .profile-page .card textarea {
    width: 100%;
    border-radius: 5px;
    box-shadow: none;
    font-size: 14px;
    background: none;
    border: 1px #087001 solid;
    transition: 0.3s;
    padding: 8px;
    margin: 10px 0;
}

.profile-page .card input:focus, .profile-page .card textarea:focus {
    border: 1px #0ed145 solid;
    background: none;
}

.profile-page h3 {
    font-size: 28px;
    font-weight: 700;
    color: #087001;
    margin-top: 60px;
    margin-bottom: 20px;
}

.profile-page .card h4 {
    font-size: 34px;
    font-weight: 700;
}

.profile-page .card h5 {
    font-size: 20px;
    font-weight: 700;
}

.profile-page .card h6 {
    font-size: 24px;
    font-weight: 600;
}

.profile-page .card span {
    font-size: 18px;
    font-weight: 500;
}