extends admin-layout.pug
  
block scripts
  script(src='/js/form-validations/user.js')
  
block content
  .pagetitle
    h1 Add New User
    nav
      ol.breadcrumb
        li.breadcrumb-item
          a(href='/dashboard') Dashboard
        li.breadcrumb-item
          a(href='/all-users') Users List
        li.breadcrumb-item.active New User
  .card
    form(action="/add-user" enctype="multipart/form-data" method="POST")
      .row
        .col-md-6
          .mb-2
            label(for='userName') Full Name:
            input#userName(name='userName' type='text' placeholder='Enter User Name')
          .mb-2
            label(for='email') Email:
            input#email(name='email' placeholder='Enter Email Address')
          .mb-2
            label(for='phoneNumber') Phone Number:
            input#phoneNumber(name='phoneNumber' type='text' placeholder='Phone Number')
          .mb-2
            label(for='role') Role:
            select#role(name='role')
              option(selected value="") Asign Role
              option(value='administrator') administrator
              option(value='manager') manager
              option(value='sales-agent') sales agent
          .mb-2
            label(for='branch') Branch:
            if branches.length
              select#branch(name='branch')
                option(selected value="") Allocate Branch
                each branch in branches
                  option(value=branch.branchName) #{branch.branchName}
          .mb-2
            label(for='dateAdded') Date Added:
            input#dateAdded(name='dateAdded' type='datetime-local')
        .col-md-6
          .mb-2
            label(for='profileImage') Profile Image (Optional):
            .image-preview.profile-img.mt-2.d-flex.align-items-center
              img#profileImagePreview(src='/img/profile-img.png' alt='Profile Image' width='45px' height='45px')
              input#profileImage.form-control.image-upload(type='file' name="profileImage" accept='image/*')
          .mb-2
            label(for='bio') Bio (Optional):
            textarea#bio(name='bio' rows='5' placeholder='Enter User Biography')
          .mb-2
            label(for='password') Password
            input#password(name='password' type='password' placeholder='Enter Password')
          .mb-2
            label(for='confirmPassword') Confirm Password:
            input#confirmPassword(name='confirmPassword' type='password' placeholder='Re-enter Password')
          .submit-button
            p.invalidation-message 
            button.button(type='submit') Add User