extends admin-layout.pug

block scripts
  script.
    // Embed the users data from the server into a JavaScript variable
    const allCreditSales = !{JSON.stringify(creditSales)};
  script(src='/js/tables/administrator/credit-sale.js')

block content
  .pagetitle
    div
      h1 All Credit Sales
      nav
        ol.breadcrumb
          li.breadcrumb-item
            a(href='/dashboard') Dashboard
          li.breadcrumb-item.active All Credit Sales
  .table-container
    .controls
      .searchInput
        input#searchInput(type='text' placeholder='search credit sale by produce name, dispatch branch or agent / manager name...')
      div
        select#entriesPerPage
          option(value='5') 5 Entries
          option(value='10') 10 Entries
          option(value='15') 15 Entries
          option(value='20') 20 Entries
    table#dataTable
      thead
        tr
          th Produce Name
          th Tonnage (Kg)
          th Amt / Kg (USh)
          th Tot Amt Due (USh)
          th Dispatched On
          th Due Date
          th Dispatched By
          th Actions
      tbody

    p#noResultsMessage(style='display:none;') No results found.
    #pagination
