extends admin-layout.pug

block content
  .pagetitle
    div
      h1 Dashboard
      nav
        ol.breadcrumb
          li.breadcrumb-item.active Dashboard
  .d-flex.justify-content-center.align-items-center
    div 
      h3 Dashboard Page Under Development :(
