extends admin-layout.pug

block scripts
  script.
    // Embed the users data from the server into a JavaScript variable
    const allSales = !{JSON.stringify(sales)};
  script(src='/js/tables/administrator/sale.js')

block content
  .pagetitle
    div
      h1 All Sales
      nav
        ol.breadcrumb
          li.breadcrumb-item
            a(href='/dashboard') Dashboard
          li.breadcrumb-item.active All Sales
  .table-container
    .controls
      .searchInput
        input#searchInput(type='text' placeholder='search sale by produce name, sale branch or agent / manager name...')
      div
        select#entriesPerPage
          option(value='5') 5 Entries
          option(value='10') 10 Entries
          option(value='15') 15 Entries
          option(value='20') 20 Entries
    table#dataTable
      thead
        tr
          th Produce Name
          th Tonnage (Kg)
          th Amt / Kg (USh)
          th Tot Amt (USh)
          th Sold On
          th Sale Branch
          th Sold By
          th Actions
      tbody

    p#noResultsMessage(style='display:none;') No results found.
    #pagination
