extends admin-layout.pug

block scripts
    script(src='/js/form-validations/edit-branch.js')

block content
  .pagetitle
    h1 Edit Branch
    nav
      ol.breadcrumb
        li.breadcrumb-item
            a(href='/dashboard') Dashboard
        li.breadcrumb-item
            a(href='/all-branches') Branches List
        li.breadcrumb-item.active Edit Branch
  .card
    form(action="/update-branch?id="+branch._id method="POST")
      .mb-2
        label(for='branchName') Branch Name:
        input#branchName(name='branchName' type='text' placeholder='Enter Branch Name' value=branch.branchName)
      .mb-2
        label(for='branchLocation') Location:
        input#branchLocation(name='branchLocation' type='text' placeholder='Enter Branch Location' value=branch.branchLocation)
      .mb-2
        label(for='comment') Comment (Optional):
        textarea#comment(name='comment' rows='5' placeholder='Add a Branch Comment')=branch.comment
      .mb-4
        label(for='dateCreated') Date Updated (Read Only):
        input#dateAdded(name='dateAdded' type='datetime-local' value=(new Date(new Date().getTime() - new Date().getTimezoneOffset() * 60000).toISOString().slice(0,16)))
      .submit-button
        p.invalidation-message 
        button.button(type='submit') Save Changes